@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Gothic&display=swap');
@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Parkinsans', sans-serif;
}

.containerHome{
    background: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.60)),url('/images/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerContact{
    background: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.60)),url('/images/contactBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px);
}